---
layout: default
---

<section>
  <div class="single-wrap">
    <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
      <h1 class="page-title" itemprop="name headline">Posts tagged with: "{{ page.tag-name }}"</h1>
    </article>
  </div>

  <ul class="posts">
    {% for post in site.posts %}
    {% if post.tags contains page.tag-name %}
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">
        <div class="p-wrap">
          <article class="inner">
            <time datetime="{{ post.date | date_to_xmlschema }}"
                itemprop="datePublished">
              {{ post.date | date_to_string }}
            </time>
            <p itemprop="name headline">{{ post.title }}</p>
          </article>
        </div>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>
